<div class="container-fluid padding bg-dark">
    <div class="row text-center">
        <div class="col-xs-12 col-sm-6 col-md-4" id="footerSection-1">
            <hr class="light">
            <h4 routerLink=''>Nike.com</h4>
            <hr class="light">
            <p>555-555-555</p>
            <p>email@email.com</p>
            <p>Something</p>
            <p>Address</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <hr class="light">
            <h5 routerLink='Contact'>Our hours</h5>
            <hr class="light">
            <p>Monday: 9am - 5pm</p>
            <p>Saturday: 10am - 4pm</p>
            <p>Sunday: Closed</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
            <hr class="light">
            <h5 routerLink='Contact'>Service Area</h5>
            <hr class="light">
            <p>City, State, 000010</p>
            <p>City, State, 000010</p>
            <p>City, State, 000010</p>
            <p>City, State, 000010</p>
        </div>
        <div class="col-12">
            <hr class="light">
            <h5>&copy; Nike.com</h5>
        </div>
    </div>
</div>
