<div class="background">

    <div class="container-fluid d-flex">
        <div class="card">
            <img src="../../assets/images/countryside-1846093_640.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Nike Casuals</h5>
                <p class="card-text">$100 - $500</p>
                <a class="btn btn-primary">Buy</a>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/images/green-932350_640.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Nike Sports</h5>
                <p class="card-text">$250 - $1000</p>
                <a class="btn btn-primary">Buy</a>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/images/nike-shoes.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Nike Shoes</h5>
                <p class="card-text">$150 - $300</p>
                <a class="btn btn-primary">Buy</a>
            </div>
        </div>
    </div>
    <div class="container-fluid d-flex">
        <div class="card">
            <img src="../../assets/images/nike-sneekers.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Nike Sneakers</h5>
                <p class="card-text">$100 - $300</p>
                <a class="btn btn-primary">Buy</a>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/images/nike-summer.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Nike Summer</h5>
                <p class="card-text">$50 - $350</p>
                <a class="btn btn-primary">Buy</a>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/images/shoe-1324431_640.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Nike Mid-Sports</h5>
                <p class="card-text">$200 - $600</p>
                <a class="btn btn-primary">Buy</a>
            </div>
        </div>
    </div>
    <div class="container-fluid d-flex">
        <div class="card">
            <img src="../../assets/images/sneaker-glown.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Nike Glown</h5>
                <p class="card-text">$200 - $800</p>
                <a class="btn btn-primary">Buy</a>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/images/green-932350_640.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Nike Sports</h5>
                <p class="card-text">$250 - $1000</p>
                <a class="btn btn-primary">Buy</a>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/images/nike-sneekers.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Nike Casuals</h5>
                <p class="card-text">$100 - $500</p>
                <a class="btn btn-primary">Buy</a>
            </div>
        </div>
    </div>
</div>