<div class="container-fluid padding" id="firstsection">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-5">Welcome to Nike Shoes...</h1>
        </div>
        <hr>
        <div class="col-12">
            <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus
                expedita sed accusamus nostrum illo neque. Reprehenderit ullam debitis deserunt.</p>
        </div>
    </div>
    <div class="text-center">
        <button type="button" routerLink='About' class="btn btn-success">Shop Here..</button>
    </div>
</div>

<div class="darkBackground">
    <div class="container-fluid padding" id='dg-1'>
        <div class="row text-center padding">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <img src="../../assets/images/shoe-1324431_640.jpg" alt="#" routerLink='About'>
                <h3>Nike Mid-Sports</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nesciunt!</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <img src="../../assets/images/green-932350_640.jpg" alt="#" routerLink='About'>
                <h3>Nike Sports</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nesciunt!</p>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="../../assets/images/countryside-1846093_640.jpg" alt="#" routerLink='About'>
                <h3>Nike Casuals</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nesciunt!</p>
            </div>
        </div>
        <hr class="my-4">
    </div>
    <div class="container-fluid padding" id='dg-2'>
        <div class="row text-center padding">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <img src="../../assets/images/nike-summer.jpg" alt="#" routerLink='About'>
                <h3>Nike Summer</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nesciunt!</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <img src="../../assets/images/nike-sneekers.jpg" alt="#" routerLink='About'>
                <h3>Nike Sneakers</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nesciunt!</p>
            </div>
        </div>
        <hr class="my-4">
    </div>

    <div class="container-fluid padding" id='dg-3'>
        <div class="row text-center padding">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <img src="../../assets/images/nike-shoes.jpg" alt="#" routerLink='About'>
                <h3>Nike Shoes</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nesciunt!</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <img src="../../assets/images/sneaker-glown.jpg" alt="#" routerLink='About'>
                <h3>Nike Glown Collection</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nesciunt!</p>
            </div>
        </div>
    </div>
</div>